<a href="https://colab.research.google.com/github/takaki-22/colaboratry/blob/main/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E8%84%B3%E3%82%92%E9%8D%9B%E3%81%88%E3%82%8B%E6%95%B0%E5%AD%A6%E3%83%91%E3%82%BA%E3%83%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = 11

while True:
    binary = bin(num)[2:]
    octal = oct(num)[2:]

    if str(num) == ''.join(reversed(str(num)))and \
                           binary == ''.join(reversed(binary))and \
                                                  octal == ''.join(reversed(octal)):
        print(num)
        break
    else:
        num += 2

585

In [ ]:
op = ["*", ""]
i = 1000

while i <= 9999:
    n = str(i)
    for j in range(len(op)):
        for k in range(len(op)):
            for l in range(len(op)):
                val = n[0] + op[j] + n[1] + op[k] + n[2] + op[l] + n[3]
                if len(val) > 4:
                    if n[1] != "0" and n[2] != "0":
                        if n == ''.join(reversed(str(eval(val)))):
                            print(i)
    i += 1

5931

In [ ]:
li = [False for _ in range(100)]
n = 2

while n <= 100:
    for i in range(n,101,n):
        li[i-1] = not li[i-1]
    n += 1

li_0 = []
for index, value in enumerate(li):
    if value == False:
        li_0.append(index + 1)

for i in li_0:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
def cutbar(m, n, bar):
    count = 0
    while bar <= n:
        if bar <= m:
            bar = bar * 2
            count += 1
        else:
            bar += m
            count += 1
    print(count)

cutbar(3, 20, 1)
cutbar(5, 100, 1)

8
22

In [ ]:
import itertools

coin = [10, 50, 100, 500]
s = 1000
conb = 0

for i in range(2, 16):
    combinations = itertools.combinations_with_replacement(coin, i)
    for j in combinations:
        if sum(j) == s:
            conb += 1
print(conb)

20

In [ ]:
n = 10000
cnt = 0
# i: i%2=0 ...*3+1して/2する
# j: j%2!=0 ...*3+1する

for i in range(2, n+1, 2):
    x = i * 3 + 1
    while True:
        if x == i:
            cnt += 1
            break
        elif x == 1:
            break
        else:
            if x % 2 == 0:
                x = x / 2
            else:
                x = x * 3 + 1

print(cnt)

34

In [ ]:
import datetime

d = datetime.date(1964,10,10)

while d <= datetime.date(2020,7,24):
    date_as_int = d.year * 10000 + d.month * 100 + d.day
    binary = bin(date_as_int)[2:]
    r_binary = ''.join(reversed(binary))
    if binary == r_binary:
        print(date_as_int)
    d = d + datetime.timedelta(days=1)

19660713
19660905
19770217
19950617
20020505
20130201

In [ ]:
def move(pos):
    # 12回移動したら終了
    if len(pos) == 13:
        return 1

    cnt = 0
    li = [[1, 0], [-1, 0], [0, 1], [0, -1]]

    for d in li:
        next_pos = [pos[-1][0] + d[0], pos[-1][1] + d[1]]
        if not next_pos in pos:
            cnt += move(pos + [next_pos])
    return cnt

print(move([[0, 0]]))

324932

In [ ]:
li = [[1,2]]
li_1 = [2,3]
print(li + [li_1])

[[1, 2], [2, 3]]

In [ ]:
european = [0, 32, 15, 19, 4, 21, 2, 25, 17, 34, 6, 27, 13, 36, 11, 30, 8, 23, 10, 5, 24, 16, 33, 1, 20, 14, 31, 9, 22, 18, 29, 7, 28, 12, 35, 3, 26]
american = [0, 28, 9, 26, 30, 11, 7, 20, 32, 17, 5, 22, 34, 15, 3, 24, 36, 13, 1, 00, 27, 10, 25, 29, 12, 8, 19, 31, 18, 6, 21, 33, 16, 4, 23, 35, 14, 2]

def sum_max(roulette, n):
    ans = sum(roulette[:n])
    tmp = ans
    for i in range(1, len(roulette) + 1):
        tmp += roulette[(i + n - 1) % len(roulette)]
        tmp -= roulette[i - 1]
        ans = max(ans, tmp)
    return ans

cnt = 0
for i in range(2, 37):
    if sum_max(european, i) < sum_max(american, i):
        cnt += 1

print(cnt)

9

In [ ]:
# フィボナッチ数列

tmp_o = 89
tmp_p = 144
tmp = 144

while tmp < 1000:
    tmp += tmp_o
    tmp_o = tmp_p
    tmp_p = tmp
    print(tmp)

233
377
610
987
1597

In [ ]:
from functools import lru_cache

@lru_cache
def fib(n):
    if n < 2:
        return n
    return fib(n-1) + fib(n-2)

In [ ]:
a = b = 1
cnt = 0

while cnt < 11:
    c = a + b
    li = [int(i) for i in str(c)]
    if c % sum(li) == 0:
        cnt += 1
        if cnt >= 7:
            print(c)
    a, b = b, c

2584
14930352
86267571272
498454011879264
160500643816367088

In [ ]:
import numpy as np
# 整数部分を含む
n = 2

while True:
    sq = np.sqrt(n)
    sq_str = str(sq)
    sq_str = sq_str.replace('.', '')
    li = list(sq_str)[:10]
    if len(set(li)) == 10:
        break
    n += 1
print(n)

# 少数部分のみ
n = 2

while True:
    sq = np.sqrt(n)
    sq_str = str(sq)
    sq_str = sq_str.replace('.', '')
    li = list(sq_str)[1:11]
    if len(set(li)) == 10:
        break
    n += 1
print(n)

1362
143

In [ ]:
import re
s = "READ+WRITE+TALK=SKILL"

s[0] != 0
[+-*/=]
nums = re.sub()